<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/">LUXURY AUTO CENTER SIMFEROPOL</a>
                  </div>
                  <ul class="nav navbar-nav">

                    <li><a href="/bmw">BMW</a></li>
                    <li><a href="/Mercedes">MERCEDES-BENZ</a></li>
                    <li><a href="/hyundai">HYUNDAI</a></li>
                    <li><a href="/toyota">TOYOTA</a></li>
                    <li><a href="/chevrolet">CHEVROLET</a></li>
                    <li><a href="/rangerover">RANGE-ROVER</a></li>
                  </ul>
                </div>
              </nav>
    <%- body %>
  </body>
</html>
